<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <servlet>
        <servlet-name>LoginControler</servlet-name>
        <servlet-class>com.airsoftware.expenses.controller.LoginControler</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ControlVistas</servlet-name>
        <servlet-class>com.airsoftware.expenses.controller.ControlVistas</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginControler</servlet-name>
        <url-pattern>/LoginControler</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ControlVistas</servlet-name>
        <url-pattern>/ControlVistas</url-pattern>
    </servlet-mapping>

</web-app>