<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Diagnóstico</h2>
    <ol class="breadcrumb">
      <li>
        <a ui-sref="index.client">Clientes</a>
      </li>
      <li class="active">
        <a ui-sref="index.diagnostic">Diagnóstico</a>
      </li>
    </ol>
  </div>
  <div class="col-lg-2"></div>
</div>
<div class="wrapper wrapper-content">
  <div class="row animated fadeInRight">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <h5>{{ vm.client.name }}</h5>
          <div ibox-tools></div>
        </div>

        <div class="ibox-content inspinia-timeline">

          <div class="timeline-item" ng-if="vm.user.role.id == CONSTANTS.ROLES.EMPLOYEE &&
                    vm.user.person.employee.employeeType.id == CONSTANTS.EMPLOYEE_TYPE.DOCTOR">
            <div class="row">
              <div class="col-xs-3 date">
                <i class="fa fa-plus icon-sm" aria-hidden="true" ng-click="vm.openDiagnosticModal()"></i>
              </div>
              <div class="col-xs-7 no-top-border">
                <h3 class="m-b-xs"><strong>Agregar Diagnóstico</strong></h3>
              </div>
            </div>
          </div>
          <div class="timeline-item" ng-repeat="diagnostic in vm.diagnosticList">
            <div class="row">
              <div class="col-xs-3 date">
                <i class="fa fa-medkit"></i>
                {{ diagnostic.date | date : 'dd/MM/yy hh:mm' }}
              </div>
              <div class="col-xs-7 content no-top-border">
                <p class="m-b-xs"><strong>Doctor: {{ diagnostic.employee.name }}</strong></p>
                <div ng-hide="diagnostic.showDetails">
                  <p>{{ diagnostic.diagnostico }}</p>
                  <a ng-click="diagnostic.showDetails = true"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Ver más...</a>
                </div>
                <div ng-show="diagnostic.showDetails">
                  <p><strong>A.H.F.:</strong> {{ diagnostic.ahf }}</p>
                  <p><strong>A.P.N.P.:</strong> {{ diagnostic.apnp }}</p>
                  <p><strong>Tabaquismo:</strong> {{ diagnostic.tabaquismo }}</p>
                  <p><strong>Drogadicción:</strong> {{ diagnostic.drogadiccion }}</p>
                  <p><strong>A.P.P.:</strong> {{ diagnostic.app }}</p>
                  <p><strong>Topografía:</strong> {{ diagnostic.topografia }}</p>
                  <p><strong>Morfología:</strong> {{ diagnostic.morfologia }}</p>
                  <p><strong>Datos Clínicos:</strong> {{ diagnostic.datosClinicos }}</p>
                  <p><strong>Diagnóstico:</strong> {{ diagnostic.diagnostico }}</p>
                  <a ng-click="diagnostic.showDetails = false"><i class="fa fa-minus-square-o" aria-hidden="true"></i> Ver menos</a>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>