<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Misión y Visión</h2>
    <ol class="breadcrumb">
      <li>
        <a ui-sref="index.main">Inicio</a>
      </li>
      <li class="active">
        <a ui-sref="index.mission">Misión y Visión</a>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight article">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="ibox">
        <div class="ibox-content">

          <div class="text-center article-title">
            <h1>
              Misión
            </h1>
            <i class="fa fa-shield icon-primary"></i>
          </div>
          <p>
            Brindar a nuestros pacientes, con calidad humana y seguridad, servicios especializados en dermatología
            clínica, quirúrgica y cosmetología
          </p>
          <hr>

          <div class="text-center article-title">
            <h1>
              Visión
            </h1>
            <i class="fa fa-globe icon-primary"></i>
          </div>
          <p>
            expenses, como líder en servicios de especialidad de excelencia y con proyección a nivel internacional, busca
            formar integralmente talento humano de alto nivel científico, generador de conocimiento, para contribuir a
            la promoción, prevención y recuperación de la salud cutánea, en procura de mejorar la calidad de vida del
            ser humano.
          </p>

        </div>
      </div>
    </div>
  </div>


</div>