<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Nosotros</h2>
    <ol class="breadcrumb">
      <li>
        <a ui-sref="index.main">Inicio</a>
      </li>
      <li class="active">
        <a ui-sref="index.mission">Nosotros</a>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>
<div class="wrapper wrapper-content  animated fadeInRight article">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <div class="ibox">
        <div class="ibox-content">

          <div class="text-center article-title">
            <h1>
              Política de Calidad
            </h1>
            <i class="fa fa-fire icon-primary"></i>
          </div>
          <p>
            Mantener un alto índice de satisfacción del usuario en la prestación de servicios de salud con un enfoque
            orientado a la promoción de la salud, prevención, diagnóstico y recuperación de la enfermedad cutánea,
            fundamentado en la idoneidad del talento humano y la celeridad del servicio a través de una gestión
            efectiva, el análisispermanente de los diferentes resultados, y el mejoramiento continuo, en pro de afianzar
            nuestro compromiso con la calidad de vida y con la ciencia.
          </p>

          <hr>

          <div class="text-center article-title">
            <h1>
              Nosotros
            </h1>
            <i class="fa fa-users icon-primary"></i>
          </div>

          <div class="row">
            <div class="col-lg-10">
              <div class="ibox">
                <div class="ibox-content-left">
                  NOSOTROS somos una Familia en la que se Aprende a Compartir y Convivir, en donde somos capaces de dar y
                  recibir comprensión, afecto, conocimiento, a través de las satisfacciones de nuestros clientes
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-10 col-lg-offset-2">
              <div class="ibox">
                <div class="ibox-content-left">
                  Así mismo, reconocemos las capacidades personales, pero más allá del YO está elTÚ, donde  también
                  reconocemos las capacidades del Otro, en donde entendemosque somos seres capaces con necesidades de cambio
                  y que podemos encontrar anuestro alrededor las personas con las que se requiere interactuar, compartir,
                  retroalimentarse y complementarse. Comprendemos que a través del reconocimientode nuestras propias
                  capacidades y las del otro se abren espacios para consolidar laautoestima, la confianza, la credibilidad,
                  la confrontación y el respeto.
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-10">
              <div class="ibox">
                <div class="ibox-content-left">
                  Partimos de la Voluntad y vocación en lo que se hace, a esa entrega y pasión que,desde la convicción
                  interior, nos impulsa en las tareas que nos proponemos. A partirde este criterio y de comportamientos y de
                  actitudes coherentes, podemos generarlabores placenteras y satisfactorias para cada uno de nuestros
                  pacientes.
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-10 col-lg-offset-2">
              <div class="ibox">
                <div class="ibox-content-left">
                  Somos Coherentes entre el pensar, el decir y el hacer. Para encontrarla se requiere de la participación de
                  cada uno empleados, en un proceso que reflejetransparencia, autonomía, comprensión e integridad en la
                  ejecución de las accionesque se han propuesto.
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>


</div>